---
import "../styles/global.css";
import NavbarBack from "../components/NavbarBack.astro";

interface Crumb {
  href: string;
  label: string;
}

interface Props {
  title: string;
  path?: Crumb[];
  current?: string;
  fallbackLabel?: string;
  fallbackHref?: string;
}

const { title, path, current, fallbackLabel, fallbackHref } =
  Astro.props as Props;
---

<slot name="layout">
  <NavbarBack
    path={path}
    current={current}
    fallbackLabel={fallbackLabel}
    fallbackHref={fallbackHref}
  />

  <main
    class="pt-28 px-6 md:px-12 max-w-2xl mx-auto py-24 space-y-12 text-dark dark:text-light leading-relaxed"
  >
    <h1 class="text-3xl md:text-4xl font-extrabold text-center">{title}</h1>
    <slot />
  </main>
</slot>
